body {
  min-height: 200px;
  padding-top: 70px;
}

.graphical {
  margin: auto;
  height: 500px;
  float: left;
  clear: both;
  width: 90%;
  border: 1px solid black;
  background: url("zielona.jpg") no-repeat center;
  background-size: contain;
}

#simulation-menu {
  margin: auto;
  width: 90%;
  float: right;
}