@(message: String)( implicit request: RequestHeader )

@main("Gines GUI") {
<script type="text/javascript">
$(function() {
    $('#tabs').tabs({
        beforeActivate: function(event, ui) {
            var tabs = $('#tabs ul li');
            tabs.each(function() {
                $(this).removeClass('active');
            });
            $(tabs[ui.newTab.index()]).addClass('active');
        }
    });
});
</script>
<div class="container" ng-app="gines" ng-controller="ginesCtrl" ng-init="init()">
    <div id="tabs">
        <ul class="nav nav-pills">
            <li class="active"><a href="#simulation-sigma">World</a></li>
            <li><a href="#charts">Live charts</a></li>
        </ul>
        <div id="simulation-sigma" class="graphical" style="{'background-image':'url('http://www.bialapodlaska.pl/pzp/zielona.jpg')'}">
        </div>
        <div id="charts" class="graphical">
        </div>
        <div id="legend" class="legend">
            <span>
                <span><div class="green_rect"></div> Tereny zielone</span>
            </span>
            <span>
                <span><div class="light_brown"></div> Mieszkalne jednorodzinne i usługi</span>
            </span>
            <span>
                <span><div class="brown"></div> Mieszkalne jedno i wielorodzinne i usługi</span>
            </span>
            <span>
                <span><div class="red"></div> Zabudowa oświatowa i usługi</span>
            </span>
            <span>
                <span><div class="pink"></div> Usługi z dopuszczeniem zab. mieszk.</span>
            </span>
            <span>
                <span><div class="violet"></div> Tereny produkcyjne, składy, usługi</span>
            </span>
        </div>
    </div>

    <div id="simulation-menu">
        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" ng-click="startSimulation()">Start</button>
            <button type="button" class="btn btn-lg btn-danger" ng-click="stopSimulation()">Stop</button>
        </div>
    </div>
</div>
}